@charset "utf-8";

.d1-board{
    position: relative;
    background-color:#e9b96e;
    width:50%;
    left:45%;
    border-style:solid;
	border-color:#E7E6DC;
	border-radius: 8px;
	top:70px;
	left:25%;
	
}

#d1-replyCount{
	position: relative;
    display: -webkit-flex;
    display: flex;
    align-items:center;
    justify-content:center;
	background: #e3e4e0;
	width:40px;
	height:20px;
	top:25px;
	left:2%;
	border-style:solid;
	border-color:#d3d7cf;
	border-radius: 8px;
}


#d1-topic-container{
	position: relative;
    display: -webkit-flex;
    display: flex;
    align-items:center;
	background: #e3e4e0;
	width:65%;
	height:28px;
	left:100px;
	top:-15px;
}

#d2-master{
	position:relative;
	width:8%;
	height:20%;
	background-color:  #eeeeec;
	left:80%;
	top:-45px;
	text-align:center;
}
#d2-reply{
	position:relative;
	width:6%;
	height:20%;
	background-color:  #f3f3f3;
	left:92%;
	top:1%;
	text-align:center;
}

	
