@charset "utf-8";

.d1-board{
    position: relative;
	background: linear-gradient(0deg,#edf2f5 ,#f5f6f7 60%,#edf2f5 );
    width:50%;
    left:45%;
    border-style:solid;
	border-color:#E7E6DC;
	border-radius: 8px;
	top:75px;
	left:25%;

	
}


.d1-replyCount{
	position: relative;
    display: -webkit-flex;
    display: flex;
    align-items:center;
    justify-content:center;
	width:40px;
	height:20px;
	top:25px;
	left:2%;
	border-style:solid;
	border-color:#d3d7cf;
	border-radius: 8px;
	!important;
}


.d1-topic-container{
	position: relative;
    display: -webkit-flex;
    display: flex;
    align-items:center;
	width:65%;
	height:28px;
	left:100px;
	top:-15px;
	!important;
}

.d2-master{
	position:relative;
	width:8%;
	height:20%;
	left:80%;
	top:-45px;
	text-align:center;
	!important;
}
.d2-reply{
	position:relative;
	width:6%;
	height:20%;
	left:92%;
	top:1%;
	text-align:center;
	!important;
}

	
