.d1{
    position: relative;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    top: 50px;
    left: 15%;
    width:70%;
    height:95px;
    border-style:solid;
	border-color:#eeeeec;
	border-radius: 20px;
    
}

#d1-replyCount{
	position: relative;
    display: -webkit-flex;
    display: flex;
    align-items:center;
    justify-content:center;
	background: #eeeeec;
	width:40px;
	height:20px;
	top:40%;
	left:3%;
	border-style:solid;
	border-color:#d3d7cf;
	border-radius: 8px;
}


#d1-topic-container{
	position: relative;
    display: -webkit-flex;
    display: flex;
    align-items:center;
    justify-content:center;
	background: #d3d7cf;
	width:65%;
	height:20%;
	left:12%;
	top:12%;
	border-style:solid;
	border-color:#d3d7cf;
	border-radius: 8px;
}

#d2-master{
	position:relative;
	width:8%;
	height:20%;
	background-color:  #f3f3f3;
	left:80%;
	top:-30%;
	text-align:center;
}
#d2-reply{
	position:relative;
	width:6%;
	height:20%;
	background-color:  #f3f3f3;
	left:92%;
	top:1%;
	text-align:center;
}

	
