@charset "utf-8";
/* CSS Document */

#d1 {
    background-color: rgba(229,237,237,1);
    text-align: center;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    font-size: larger;
	margin-left:auto;
	margin-right:auto;
	width: 60%;
	border-style:groove;
	border-color:#BBBED2;

	
	}


	.d2{
		position:relative
		background-color: aquamarine;
		width: 60px;
		height: 30px;
		margin: 100px;
	

	}
	.d3{
		position:relative;
		display: -webkit-flex;
		display: flex;
		width: 1520px;
		height: 50px;
		background-color: azure;
		justify-content: space-around;
		align-items: center;
		border-style:double;
		left:10%;
		
		
		

	}
	.d4{
		display: -webkit-flex;
		display: flex;
		position: fixed;
		width: 110px;
		height: 20px;
		background-color: antiquewhite;
		right: 39px;
		top: 10px;
		justify-content: space-around;
	}


